git+https://github.com/rwightman/pytorch-image-models
# https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp39-cp39-linux_x86_64.whl
# https://download.pytorch.org/whl/cpu/torchvision-0.12.0%2Bcpu-cp39-cp39-linux_x86_64.whl
# timm
# torch==1.11.0
# torchvision==0.12.0
hydra-core